html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/*override styles*/
:root {
    --bs-primary: #cb8d95;
    --bs-secondary: #f8e9eb;
}

.bg-primary {
    --bs-bg-opacity: 1;
    background-color: rgba(203, 141, 149, var(--bs-bg-opacity)) !important;
}

.bg-secondary {
    --bs-bg-opacity: 1;
    background-color: rgba(248, 233, 235, var(--bs-bg-opacity)) !important;
}

.btn-primary {
    --bs-bg-opacity: 1;
    background-color: rgba(203, 141, 149, var(--bs-bg-opacity)) !important;
    border-color: #cb8d95;
}

.btn-secondary {
    --bs-bg-opacity: 1;
    background-color: rgba(248, 233, 235, var(--bs-bg-opacity)) !important;
    border-color: #f8e9eb;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #cb8d95;
}

.nav-link{
    color: midnightblue;
}